Package: time-script
Version: 1.0
Section: custom
Priority: optional
Architecture: all
Essential: no
Installed-Size: 1024
Maintainer: Serhii Tyshchenko <yourhostel.ua@gmail.com>
Description: An example time script
